<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<!-- 异常消息记录 -->
	<appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
		<!-- 日志记录文件 -->
		<file value="Logs\error.log" />
		<!-- 是否添加到文件末尾 -->
		<appendToFile value="true" />
		<!-- 滚动记录方式 -->
		<rollingStyle value="Composite" />
		<!-- 日期格式 -->
		<datePattern value=".yyyy-MM-dd" />
		<!-- 设置无限备份=-1 ，最大备份数为1000 -->
		<maxSizeRollBackups value="10" />
		<!-- 每个文件的最大尺寸 -->
		<maximumFileSize value="100MB" />
		<!-- 名称是否可以更改 为false时可以更改 -->
		<staticLogFileName value="true" />
		<!-- 允许日志文件被其它进程打开 -->
		<LockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level - %message%newline" />
		</layout>
	</appender>
	<!-- 调试跟踪消息记录 -->
	<appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
		<!-- 日志记录文件 -->
		<file value="Logs\debug.log" />
		<!-- 是否添加到文件末尾 -->
		<appendToFile value="true" />
		<!-- 滚动记录方式 -->
		<rollingStyle value="Composite" />
		<!-- 日期格式 -->
		<datePattern value=".yyyy-MM-dd" />
		<!-- 设置无限备份=-1 ，最大备份数为1000 -->
		<maxSizeRollBackups value="10" />
		<!-- 每个文件的最大尺寸 -->
		<maximumFileSize value="100MB" />
		<!-- 名称是否可以更改 为false时可以更改 -->
		<staticLogFileName value="true" />
		<!-- 允许日志文件被其它进程打开 -->
		<LockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level - %message%newline" />
		</layout>
	</appender>
	<!-- 普通消息记录 -->
	<appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
		<!-- 日志记录文件 -->
		<file value="Logs\info.log" />
		<!-- 是否添加到文件末尾 -->
		<appendToFile value="true" />
		<!-- 滚动记录方式 -->
		<rollingStyle value="Composite" />
		<!-- 日期格式 -->
		<datePattern value=".yyyy-MM-dd" />
		<!-- 设置无限备份=-1 ，最大备份数为1000 -->
		<maxSizeRollBackups value="10" />
		<!-- 每个文件的最大尺寸 -->
		<maximumFileSize value="100MB" />
		<!-- 名称是否可以更改 为false时可以更改 -->
		<staticLogFileName value="true" />
		<!-- 允许日志文件被其它进程打开 -->
		<LockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level - %message%newline" />
		</layout>
	</appender>
	<!-- 缓存操作记录 -->
	<appender name="CacheLog" type="log4net.Appender.RollingFileAppender">
		<!-- 日志记录文件 -->
		<file value="Logs\cache.log" />
		<!-- 是否添加到文件末尾 -->
		<appendToFile value="true" />
		<!-- 滚动记录方式 -->
		<rollingStyle value="Composite" />
		<!-- 日期格式 -->
		<datePattern value=".yyyy-MM-dd" />
		<!-- 设置无限备份=-1 ，最大备份数为1000 -->
		<maxSizeRollBackups value="10" />
		<!-- 每个文件的最大尺寸 -->
		<maximumFileSize value="100MB" />
		<!-- 名称是否可以更改 为false时可以更改 -->
		<staticLogFileName value="true" />
		<!-- 允许日志文件被其它进程打开 -->
		<LockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date - %message%newline" />
		</layout>
	</appender>
	<logger name="ErrorLog">
		<level value="ALL"/>
		<appender-ref ref="ErrorLog"/>
	</logger>
	<logger name="DebugLog">
		<level value="ALL"/>
		<appender-ref ref="DebugLog"/>
	</logger>
	<logger name="InfoLog">
		<level value="ALL"/>
		<appender-ref ref="InfoLog"/>
	</logger>
	<logger name="CacheLog">
		<level value="ALL"/>
		<appender-ref ref="CacheLog"/>
	</logger>
</log4net>