<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 上传文件保存根目录 -->
    <add key="MIAP.FileRoot" value="~/Files/" />
    <!-- 临时数据文件保存根目录 -->
    <add key="MIAP.DataFileRoot" value="~/Data/" />
    <!-- 配置文件保存根目录 -->
    <add key="MIAP.ConfigFileRoot" value="~/Configs/" />
    <!-- 缓存文件保存根目录 -->
    <add key="MIAP.CacheFileRoot" value="~/Cache/" />
  </appSettings>

  <connectionStrings>
    <add name="DefaultDB" lockItem="false" providerName="System.Data.SqlClient" connectionString="Server=.;User ID=chongwu;Password=chongwubao;Database=pet_project;Connect Timeout=5;Pooling=true;Max Pool Size=1000;Min Pool Size=0" />    
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="POST,GET" path="/Service/Gate.ashx" type="PetbaoWeixin.HttpCore.Httphandler, PetbaoWeixin.HttpCore" />
    </httpHandlers>
    <httpModules>
      <add name="PetbaoWeixinHttpModule" type="PetbaoWeixin.HttpCore.HttpMoudle, PetbaoWeixin.HttpCore" />
    </httpModules>
    <httpRuntime executionTimeout="300" maxRequestLength="2147483647"></httpRuntime>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="PetbaoWeixinHttpHandler" verb="POST,GET" path="/Service/Gate.ashx" type="PetbaoWeixin.HttpCore.Httphandler, PetbaoWeixin.HttpCore" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="PetbaoWeixinHttpModule" type="PetbaoWeixin.HttpCore.HttpMoudle, PetbaoWeixin.HttpCore" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>